{% extends 'base.html' %}

{% block content %}


<div class="m-3" style="text-align:center">
    <h2>Welcome to Axis - CRM</h2>
</div>

<div class="row">

    <div class="card text-white bg-primary m-1" style="max-width: 18rem;">
        <div class="card-header">Projects</div>
        <div class="card-body">
            <h5 class="card-title">Total Active Projects -  5</h5>
            <hr>
            <p class="card-text">2 Projects are active</p>
            <p class="card-text">3 Projects are not unassigned with clients</p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-1" style="max-width: 18rem;">
        <div class="card-header">Clients</div>
        <div class="card-body">
            <h5 class="card-title">Total Active Clients  -  10</h5>
            <hr>
            <p class="card-text">3 of them are active</p>
            <p class="card-text">7 of them are not unassigned with projects</p>
        </div>
    </div>
    <div class="card text-white bg-success m-1" style="max-width: 18rem;">
        <div class="card-header">AMC Renewal</div>
        <div class="card-body">
            <h5 class="card-title">Due for AMC Renewal -  2</h5>
            <hr>
            <p class="card-text">2 Projects are due</p>
            <p class="card-text">3 Projects are overduel</p>
        </div>
    </div>
    <div class="card text-white bg-danger m-1" style="max-width: 18rem;">
        <div class="card-header">Support Tickets</div>
        <div class="card-body">
            <h5 class="card-title">Total Tickets - 2564</h5>
            <hr>
            <p class="card-text">Resolved : 565</p>
            <p class="card-text">Progress : 100</p>
            <p class="card-text">Waiting for review : 55</p>
        </div>
    </div>

</div>


{% endblock content %}


