{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Direct Axis Technology LLC">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Axis CRM | Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "assets/css/login.css" %}">

</head>

<body class="my-login-page">
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="{% static "assets/images/crm-logo.png" %}" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title text-center">Login</h4>
                        <form method="POST" action="{% url 'login' %}" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" class="form-control" name="username">
                            </div>

                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" class="form-control" name="password">
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" id="sendlogin" class="btn btn-primary btn-block">LOG IN</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; {% now "Y" %} &mdash; Direct Axis Technology LLC
                </div>
            </div>
        </div>
    </div>
</section>

{% include "footer.html" %}

</body>
</html>