{% extends 'base.html' %}
{% block content %}


    <style>
        .dropdown-toggle {
            width: 100%;
        }

    </style>


    <div style="text-align:left">
        <h4>Client and Projects List <a href="{% url 'clients_projects_create' %}" class="btn btn-md btn-facebook">Assign New</a></h4>
    </div>
    <hr>

    <div class="row">

        <div class="row justify-content-center d-flex align-items-center text-center">

            <form class="row gx-3 gy-2 align-items-center mb-3" style="text-align: left">
                <div class="col-sm-3">
                    <label for="specificSizeInputName">AMC Date From:</label>
                    <div class="input-group date datepicker" data-date-format="yyyy-mm-dd">
                        <input class="form-control" value="{{ request.GET.amc_to_date|default:current_date }}"
                               name="amc_from_date" type="text" readonly/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="specificSizeInputName">AMC Date To:</label>
                    <div class="input-group date datepicker" data-date-format="yyyy-mm-dd">
                        <input class="form-control" value="{{ request.GET.amc_to_date|default:current_date }}"
                               name="amc_to_date" type="text" readonly/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="specificSizeInputName">Project:</label>
                    <select class="form-select" name="project" aria-label="Default select example">
                        <option value="">Choose a project</option>
                        {% for project in all_projects %}

                            <option
                                    {% if request.GET.project == project.id|stringformat:"i" %}
                                        {{ 'selected' }}
                                    {% endif %}
                                    value="{{ project.id }}">{{ project.name }}
                            </option>
                        {% endfor %}

                    </select>
                </div>


                {% if request.user.is_staff %}
                    <div class="col-sm-3">
                        <label for="specificSizeInputName">Client:</label>
                        <select class="form-select" name="client" aria-label="Default select example">
                            <option value="">Choose a client</option>
                            {% for client in all_clients %}
                                <option
                                        {% if request.GET.client == client.id|stringformat:"i" %}
                                            {{ 'selected' }}
                                        {% endif %}
                                        value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                {% endif %}




                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>


            <table class="table table-sm table-bordered table-responsive">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 16%">Client</th>
                    <th scope="col" style="width: 16%">Project</th>
                    <th scope="col">Project Amount</th>
                    <th scope="col">AMC Amount</th>
                    <th scope="col">Installed Date</th>
                    <th scope="col">Next AMC Date</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for obj in object_list %}
                    <tr class="text-center">
                        <th scope="row" class="align-middle">{{ forloop.counter }}</th>
                        <td>{{ obj.client.name }}</td>
                        <td>{{ obj.project.name }}</td>
                        <td>{{ obj.project_amount }}</td>
                        <td>{{ obj.amc_amount }}</td>
                        <td>{{ obj.start_date }}</td>
                        <td>{{ obj.next_amc_date }}</td>

                        <td>

                            <div class="row justify-content-center d-flex align-items-center">

                                <div class="dropdown">
                                    <button class="btn btn-google btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item"
                                               href="{% url 'client_project_update' obj.id %}">Edit</a></li>
                                    </ul>
                                </div>

                            </div>


                        </td>

                    </tr>

                {% empty %}
                    <tr>
                        <td colspan="5">There are no projects</td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>


            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">
                                {{ i }}
                              </span>
                            </li>
                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item"><a class="page-link" href="?page={{ data.number|add:'5' }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>




{% endblock content %}


{% block javascript %}

    <script>

        $(function () {
            $(".datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            })
        });

    </script>




{% endblock javascript %}