{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}

    <div class="m-3" style="text-align:center">
        <h4>{{ project_data.project.name }} - {{ project_data.client.name }} - Dashboard</h4>
    </div>

    <style>

        #pills-tabContent {
        {#background: #ececec;#} padding: 10px;
            border-radius: 6px;
            height: 400px;
        {#border: 1px solid #ccc;#}
        }


    </style>

    <div class="row justify-content-center d-flex align-items-center text-center">


        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Support Requests</h5>
                    <p class="card-text">{{ project_data.supportrequest_set.all|length }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resolved Support Requests</h5>
                    <p class="card-text">{{ project_data.supportrequest_set.all|count_filter_by_status:4 }}</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pending Support Requests</h5>
                    <p class="card-text">{{ project_data.supportrequest_set.all|count_filter_by_status:0 }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row m-3">


        <div class="col-md-6">

            <ul class="nav nav-pills nav-pills-sm mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link
                    {% if active_tab == 'overview' %}
                        {{ 'active' }}
                    {% endif %}
                    " id="pills-home-tab" data-bs-toggle="pill"
                            onclick="window.location.href='?tab=overview'"
                            data-bs-target="#pills-home"
                            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Overview
                    </button>
                </li>


                <li class="nav-item" role="presentation">
                    <button class="nav-link
                    {% if active_tab == 'ticket' %}
                        {{ 'active' }}
                    {% endif %}" id="pills-support-requests-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-support-requests"
                            onclick="window.location.href='?tab=ticket'"
                            type="button" role="tab" aria-controls="pills-support-requests" aria-selected="false">
                        Support
                        Requests
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link
                    {% if active_tab == 'amc' %}
                        {{ 'active' }}
                    {% endif %}" id="pills-amc-renewals-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-amc-renewals"
                            onclick="window.location.href='?tab=amc'"
                            type="button" role="tab" aria-controls="pills-amc-renewals" aria-selected="false">
                        AMC Renewals
                    </button>
                </li>

                <li>

                </li>


            </ul>

        </div>

        <div class="col-md-6" style="text-align: right">
            <a href="{% url 'clients_new_ticket' project_data.id %}" class="button btn btn-sm btn-warning">New
                Ticket</a>
        </div>


        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade
                    {% if active_tab == 'overview' %}
                        {{ 'show active' }}
                    {% endif %}" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="row">
                    <div class="col-sm-8 justify-content-center d-flex align-items-center">
                        <h3>{{ project_data.project.name }}</h3>
                    </div>
                    <div class="col-sm-4"><img style="width: 300px;" src="{{ project_data.project.logo.url }}"></div>
                </div>
                <div class="row">
                    <div class="col-sm-8 justify-content-center d-flex align-items-center text-center">
                        {{ project_data.project.description }}
                    </div>
                    <div class="col-sm">
                        <div class="col-sm-8 ">
                            Start Date : {{ project_data.start_date }}
                        </div>
                        <div class="col-sm-8 ">
                            Next AMC Date : {{ project_data.next_amc_date }}
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade
                    {% if active_tab == 'ticket' %}
                        {{ 'show active' }}
                    {% endif %}" id="pills-support-requests" role="tabpanel"
                 aria-labelledby="pills-support-requests-tab">


                <table class="table table-bordered table-sm">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th style="width: 18%" scope="col">DateTime</th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for req in support_requests_data %}
                        <tr class="text-center">
                            <th scope="row">{{ support_requests_data.start_index|add:forloop.counter0 }}</th>
                            <td>{{ req.created_at }}</td>
                            <td>{{ req.title|truncatechars:100 }}</td>
                            <td>{{ req.get_status_display }}</td>
                            <td>

                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item"
                                               href="{% url 'clients_view_support_request' req.id %}">Show</a></li>
                                        <li><a data-status="4" class="dropdown-item ticket_status"
                                               href="{% url 'update_support_ticket' req.id %}">Close
                                            This Ticket</a></li>
                                    </ul>
                                </div>

                            </td>

                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="5">There are no tickets</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <div class="pagination justify-content-center">

                    <ul class="pagination">

                        {% if support_requests_data.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page=1&tab=ticket">First</a></li>

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ support_requests_data.previous_page_number }}&tab=ticket">previous</a>
                            </li>

                        {% endif %}

                        {% for i in support_requests_data.paginator.page_range %}
                            {% if support_requests_data.number == i %}

                                <li class="page-item active" aria-current="page">
                                    <a class="page-link"
                                       href="?page={{ i }}&tab=ticket">{{ i }}</a></li>

                            {% else %}

                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ i }}&tab=ticket">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if support_requests_data.has_next %}

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ support_requests_data.next_page_number }}&tab=ticket">NEXT</a></li>

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ support_requests_data.end_index }}&tab=ticket">LAST</a></li>

                        {% endif %}


                    </ul>


                    <span class="current">

{#                    <li class="page-item active" aria-current="page">#}
{#                            <a class="page-link"#}
{#                               href="#">{{ support_requests_data.number }}</a></li>#}

{#                    Page {{ support_requests_data.number }} of {{ support_requests_data.paginator.num_pages }}#}
                </span>


                    </span>
                </div>


            </div>


            <div class="tab-pane fade
                    {% if active_tab == 'amc' %}
                        {{ 'show active' }}
                    {% endif %}" id="pills-amc-renewals" role="tabpanel"
                 aria-labelledby="pills-amc-renewals-tab">


                <table class="table table-bordered table-sm">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col" style="width: 16%">Date</th>
                        <th scope="col" style="width: 16%">Reference</th>
                        <th scope="col">Project</th>
                        <th scope="col">Client</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for obj in amc_data %}
                        <tr class="text-center">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ obj.date }}</td>
                            <td>{{ obj.reference }}</td>
                            <td>{{ obj.client_project.project.name }}</td>
                            <td>{{ obj.client_project.client.name }}</td>
                            <td>{{ obj.amount }}</td>
                            <td>{{ obj.description }}</td>

                        </tr>

                    {% empty %}
                        <tr>
                            <td colspan="5">There are no amc renewals</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <div class="pagination justify-content-center">

                    <ul class="pagination">

                        {% if amc_data.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page=1&tab=amc">First</a></li>

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ amc_data.previous_page_number }}&tab=amc">previous</a>
                            </li>

                        {% endif %}

                        {% for i in amc_data.paginator.page_range %}
                            {% if amc_data.number == i %}

                                <li class="page-item active" aria-current="page">
                                    <a class="page-link"
                                       href="?page={{ i }}&tab=amc">{{ i }}</a></li>

                            {% else %}

                                <li class="page-item">
                                    <a class="page-link"
                                       href="?page={{ i }}&tab=amc">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if amc_data.has_next %}

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ amc_data.next_page_number }}&tab=amc">NEXT</a></li>

                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ amc_data.end_index }}&tab=amc">LAST</a></li>

                        {% endif %}


                    </ul>


                    <span class="current">

{#                    <li class="page-item active" aria-current="page">#}
{#                            <a class="page-link"#}
{#                               href="#">{{ support_requests_data.number }}</a></li>#}

{#                    Page {{ support_requests_data.number }} of {{ support_requests_data.paginator.num_pages }}#}
                </span>


                </div>


            </div>


            <div class="tab-pane fade
                    {% if active_tab == 'files' %}
                        {{ 'show active' }}
                    {% endif %}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                <table class="table table-bordered border-primary">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">File</th>
                        <th scope="col">Uploaded DateTime</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for document in documents_data %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ document.description }}</td>
                            <td><a href="{{ document.file }}">Download</a></td>
                            <td>{{ document.uploaded_at }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                Feeds Tab
            </div>
        </div>

    </div>

{% endblock content %}

{% block javascript %}

    <script>
        $(document).on("click", ".ticket_status", function (e) {

            e.preventDefault();
            var url = $(this).attr("href")
            var status = $(this).data("status")

            $.ajax({
                url: url,
                dataType: 'json',
                data: {
                    status: status,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: 'post',

                success: function (data) {
                    alert(data.msg);
                    location.reload()
                }
            })

        });

    </script>

{% endblock javascript %}