{% extends 'base.html' %}

{% block content %}

    <style>

        .card-img-div {
            border-bottom: 1px solid #dedcdc;
        }

    </style>

    <div style="text-align:left">
        <h4>All Projects</h4>
    </div>
    <hr>
    <div class="row ">

        {% for project in projects %}
            <div class="card col-md-3" style="height: 319px; ">
                <div class="text-center mt-2 card-img-div" style="height: 60px">
                    <img style="width: 200px; max-height: 60px;text-align: center" src="{{ project.logo.url }}"
                         class="card-img-top"
                         alt="...">

                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">{{ project.name }}</h5>
                    <p class="card-text text-center">{{ project.description|truncatechars:100 }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        Total Clients:
                        <span class="badge bg-success">{{ project.clientproject_set.all|length }}</span>
                    </li>
                    <li class="list-group-item text-center">
                        <a href="{% url 'projects_view_project_clients' project.id %}" class="btn btn-primary btn-sm">Show
                            Clients</a></li>
                </ul>
            </div>

        {% empty %}
            <li>There are no projects</li>

        {% endfor %}

    </div>

{% endblock content %}